<div class="text-center col-sm-12" style="margin-top: 20px">
  <img src="https://www.wired.com/wp-content/uploads/2016/11/GoogleMap-1-1200x630-e1479510841629.jpg" class="rounded" alt="..." width=1000  >
</div>
