<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Le service météo</a>

  <form action="/login" method="post" class="form-inline">
    <input name="email" type="text" class="form-control mr-sm-2" aria-label="insert mail"/>
    <input type="submit" value="Login" class="btn btn-outline-success my-2 my-sm-0"/>
  </form>

  <form action="/logout" method="post">
     <input name="email" type="hidden" class="form-control mr-sm-2"/>
     <input type="submit" value="Logout" class="btn btn-outline-danger my-2 my-sm-0"/>
   </form>

</nav>




